#!/usr/bin/make -f
#export DH_VERBOSE=1

%:
	dh $@ --buildsystem=cmake --parallel

override_dh_auto_install:
	dh_auto_install -- DESTDIR=$(CURDIR)/debian/screengrab

override_dh_install:
	rm -f debian/screengrab/usr/share/doc/screengrab/LICENSE.txt
	dh_install

override_dh_makeshlibs:
	# do nothing
